/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99;
}

nav .nav-content {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-content .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a855f7;
}

nav .nav-content #check {
  display: none;
}

nav .nav-content .checkbox i {
  font-size: 1.5rem;
  color: #9333ea;
  cursor: pointer;
}

nav .nav-content .checkbox {
  display: none;
}

nav .nav-content ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .nav-content ul li a {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  color: #1f2937;
  transition: 0.3s ease;
}

nav .nav-content ul li a:hover {
  color: #a855f7;
  border-bottom-color: #a855f7;
  border-top-color: #a855f7;
}

.section {
  background: #faf5ff;
}

.section .section-content {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.section .section-content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section .section-content .content .subtitle {
  letter-spacing: 2px;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.section .section-content .content .title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
}

.section .section-content .content .title span {
  font-weight: 600;
}

.section .section-content .content .description {
  line-height: 1.5rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.section .section-content .content .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section .section-content .content .btns button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 2px solid #a855f7;
  border-radius: 10px;
  transition: 0.3s ease;
}

.section .section-content .content .btns button.hire {
  background: #a855f7;
  color: #fff;
}

.section .section-content .content .btns button.hire:hover {
  background: #9333ea;
}

.section .section-content .content .btns button.portfolio {
  color: #9333ea;
}

.section .section-content .content .btns button.portfolio:hover {
  background: #9333ea;
  color: #fff;
}

.section .section-content .image {
  display: grid;
  place-items: center;
}

.section .section-content .image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (max-width: 750px) {
  nav .nav-content ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background: #faf5ff;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    transition: left 0.3s;
  }

  nav .nav-content ul li a {
    font-size: 1.25rem;
  }

  nav .nav-content .checkbox {
    display: block;
  }

  nav .nav-content #check:checked ~ ul {
    left: 0;
  }

  .section .section-content {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .section .section-content .content .btns {
    margin: auto;
  }

  .section .section-content .image {
    grid-area: 1/1/2/2;
  }
}
